@charset "utf-8";

body {
	background: #fff;
    color: #362918;
    font-family: Zen Kaku Gothic New, Hiragino Sans, Hiragino Kaku Gothic ProN, ヒラギノ角ゴ ProN W3, 游ゴシック, YuGothic, 游ゴシック体, Noto Sans JP, BIZ UDPGothic, Meiryo, Helvetica Neue, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    font-size: min(.3265306122vw + .7984693878rem, 1.125rem);
    line-height: 1;
    max-width: 100%;
    text-indent: min(0vw + 0rem, 0rem);
}

.container {
	background: #fff;
	border-radius: 18px;
	padding-bottom: 10px;
	box-shadow: 0 10px 40px rgba(0,0,0,0.15);
}
header {
	/* border: 1px solid #4facfe; */
	text-align: center;
}
header h1 {
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 1.26531px;
	line-height: 37.9592px;	
	margin: 0;
    padding-top: 26px;
    padding-bottom: 10px;
}

.content {
	padding: 20px;
}

.section {
	background: #ffe0e342;
	padding: 18px;
	border-radius: 12px;
	margin-bottom: 20px;
}
.section::before {
	content: "";
	display: block;
	height: 80px;
	margin-top: -80px;
	visibility: hidden;
}
.section h2 {
	font-size: 20px;
	margin-bottom: 10px;
}
.section p {
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 10px;
}
.section p.imp {
	font-size: 16px;
	font-weight: bold;
}
.section ul {
    padding: 0px;
    margin-left: 24px;
}
.section li {
	font-size: 15px;
	line-height: 1.6;
	padding-bottom: 10px;
}
.section li span {
    display: block;
    padding-top: 6px;
    padding-right: 10px;
    text-align: end;
    font-weight: bold;
    font-size: 14px;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	margin-top: 10px;
}
.video-container iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

footer {
	text-align: center;
	padding: 15px;
	font-size: 13px;
	color: #555;
}